
body {
    margin:     0;
    color:          #333;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    background-color: #121621;/*#0e182e;*/
}
#container {
    margin:     0 auto;
    width:      800px;
    padding:    1.0em;
    background-color: #EEE;

}

#openseadragon {
  width: 100vw;
  height: 100vh;
}

#ratio {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  color: rgba(255, 0, 0, 1.0);
  position: fixed;
  z-index: 9999;
  left: 50px;
  top: 40px;
}